h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
  color: black;
}

h1 {
    text-align: center;
}

.todo-list {
    text-align: center
}
  
.todo{
    width: 200px;
    margin: 0 auto;
}

.todo.completed {
    text-decoration: line-through;
}

form {
    text-align: center;
}